ATLAS_URI = mongodb://<username>:<password>@appdb-shard-00-00.s7qfu.mongodb.net:27017,appdb-shard-00-01.s7qfu.mongodb.net:27017,appdb-shard-00-02.s7qfu.mongodb.net:27017/<databaseName>?ssl=true&replicaSet=atlas-11yye2-shard-0&authSource=admin&retryWrites=true